/* Resetowanie marginesów i paddingów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stylowanie całej strony */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Jasnoszare tło strony */
    height: 100vh; /* Wysokość widoku */
}

.error {
    border: 2px solid red;
}

.error-message {
    color: red;
    font-size: 12px;
}

/* Kontener z gridem */
#container {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "footer";
    grid-template-rows: 70px auto 50px; /* Wysokość wierszy */
    grid-template-columns: 1fr; /* Szerokość kolumn */
    height: 100vh; /* Wysokość widoku */
}

/* Stylowanie nagłówka */
#container header {
    background-color: #007BFF; /* Niebieski nagłówek */
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff; /* Biały tekst */
    font-size: 24px;
}

/* Stylowanie nawigacji */
#container nav {
    background-color: #ffffff; /* Białe tło nawigacji */
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Stylowanie stopki */
#container footer {
    background-color: #343a40; /* Ciemnoszary stopka */
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff; /* Biały tekst */
    font-size: 14px;
}

/* Stylowanie formularza */
#forms {
    display: grid;
    gap: 15px;
    background-color: #ffffff; /* Białe tło formularza */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Maksymalna szerokość formularza */
    width: 100%;
    text-align: center;
}

/* Stylowanie etykiet i pól formularza */
form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333333; /* Ciemnoszary kolor tekstu etykiet */
}

form input[type="text"],
form input[type="password"],
form input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; /* Jasnoszara ramka */
    border-radius: 4px;
    font-size: 16px;
}

form input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a745; /* Zielony przycisk */
    color: white;
    font-size: 16px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #218838; /* Ciemniejszy zielony przy najechaniu */
}
